<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Creepster&family=Exo+2&family=Michroma&family=Press+Start+2P&family=Roboto&family=Rubik+Iso&family=Staatliches&family=Zen+Dots&display=swap');
  </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand"  style="color: rgb(58, 58, 185) ;" href="products"><h4><strong>CASIO </strong> &nbsp;<i class="fa-solid fa-cart-shopping" style="color: gray;"></i></h4> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="products/add_product">Add product</a></li>
            
            </ul>

            <form class="d-flex" role="search">
                <input [(ngModel)]="searchTerm" (keyup)="search($event)" type="search" placeholder="search" class="form-control me-2">
                <button class="btn btn-outline-success">search</button>
            </form>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Creepster&family=Exo+2&family=Press+Start+2P&family=Roboto&family=Rubik+Iso&family=Staatliches&family=Zen+Dots&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exo+2&family=Press+Start+2P&family=Roboto&family=Rubik+Iso&family=Staatliches&family=Zen+Dots&display=swap');
  </style>
<header class=" bg-dark py-5" >
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">G-SHOCK</h1>
            <p class="lead fw-normal text-white-50 mb-0">BUILT FOR ADVENTURE</p>
        </div>
    </div>
</header>