<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productdata.productImage}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">From CASIO</div>
                <h1 class="display-5 fw-bolder">{{productdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span>₹ {{productdata.price}}</span>
                </div>
                <p class="lead">{{productdata.description}}</p>
                <div class="d-flex">

                    <a href="products/edit_product/{{productdata.id}}">
                    <button style="margin-right: 15px;" class="btn btn-outline-success flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Edit
                    </button></a>

                    <a href="products/delete_product/{{productdata.id}}">
                    <button  class="btn btn-outline-danger flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Delete
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</section>